@model FirstApp.Models.StudentModel;

<div class="text-center">
    <h1 class="display-4">Create Student</h1>

    <form method="post" action="CreateStudent2">
        <input name="FullName" type="text" placeholder="Full Name" />
        <br />
        <input name="FatherName" type="text" placeholder="Father Name" />
        <br />
        <input name="Class" type="text" placeholder="Class" value="2209B1" />
        <br />
        <input name="Section" type="text" placeholder="Section" value="MWF" />
        <br />
        <input name="Email" type="text" placeholder="Email" />
        <br />
        <button type="submit">Save Data</button>
    </form>
</div>
